		<div class="w3-container w3-center">
			<h2>Welcome to PIZZERIA!!!</h2>
			<button style="float:right"class="w3-btn w3-green" ng-click="logout()">Log Out</button>
			<h3>Menu</h3>
		</div>

		<div class="w3-row-padding w3-margin-top">
			<div class="w3-third w3-container">
				<div class="w3-card-4">
					<header class="w3-container w3-blue">
						<h3>Farm house</h3>
					</header>
					<div>
						<img src="farmHouse.jpg" alt="Farm house pizza" style="width:100%">
					</div>
					<footer class="w3-container w3-blue">
						<h3>Rs 500</h3>
						<button class="w3-btn w3-green" ng-click="addtocart(1)">Buy This!</button>
					</footer>
				</div>   
			</div>
			
			<div class="w3-third w3-container">
				<div class="w3-card-4">
					<header class="w3-container w3-blue">
						<h3>Peppy Paneer</h3>
					</header>
					<div>
						<img src="peppyPaneer.jpg" alt="Peppy Paneer pizza" style="width:100%">
					</div>
					<footer class="w3-container w3-blue">
						<h4>Rs 400</h4>
						<button class="w3-btn w3-green">Buy This!</button>
					</footer>
				</div>   
			</div>
				
			<div class="w3-third w3-container">
				<div class="w3-card-4">
					<header class="w3-container w3-blue">
						<h3>Margherita</h3>
					</header>
					<div>
						<img src="Margherita.jpg" alt="Margherita pizza" style="width:100%">
					</div>
					<footer class="w3-container w3-blue">
						<h4>Rs 5500</h4>
						<button class="w3-btn w3-green">Buy This!</button>
					</footer>
				</div>   
			</div>
		</div>		<!-- end of row-->

		<div class="w3-row-padding w3-margin-top">
			<div class="w3-third w3-container">
				<div class="w3-card-4">
					<header class="w3-container w3-blue">
						<h3>Farm house</h3>
					</header>
					<div>
						<img src="farmHouse.jpg" alt="Farm house pizza" style="width:100%">
					</div>
					<footer class="w3-container w3-blue">
						<h4>Rs 500</h4>
						<button class="w3-btn w3-green">Buy This!</button>
					</footer>
				</div>   
			</div>
			
			<div class="w3-third w3-container">
				<div class="w3-card-4">
					<header class="w3-container w3-blue">
						<h3>Peppy Paneer</h3>
					</header>
					<div>
						<img src="peppyPaneer.jpg" alt="Peppy Paneer pizza" style="width:100%">
					</div>
					<footer class="w3-container w3-blue">
						<h4>Rs 400</h4>
						<button class="w3-btn w3-green">Buy This!</button>
					</footer>
				</div>   
			</div>
				
			<div class="w3-third w3-container">
				<div class="w3-card-4">
					<header class="w3-container w3-blue">
						<h3>Margherita</h3>
					</header>
					<div>
						<img src="Margherita.jpg" alt="Margherita pizza" style="width:100%">
					</div>
					<footer class="w3-container w3-blue">
						<h4>Rs 5500</h4>
						<button class="w3-btn w3-green">Buy This!</button>
					</footer>
				</div>   
			</div>
		</div>		<!-- end of row-->

