<div class="w3-container w3-center">
			<h2>Welcome to PIZZERIA!!!</h2>
			<h3>Log In to Continue</h3>
		</div><br>
		<div class="w3-row ">
			<div class="w3-col s3 w3-container"> </div>
			<div class="w3-half w3-container ">
				<div class="w3-card-4">
					<div class="w3-container w3-brown">
						<h2>Admin Log In</h2>
					</div>
					<form action="http://localhost:8080/SpringHibernateExample/admin/login" class="w3-container" method="POST">
						<p>      
							<label class="w3-text-brown"><b>User Name</b></label>
							<input class="w3-input w3-border w3-sand" name="userName" type="text" ng-model=userName>
						</p>
						<p>      
							<label class="w3-text-brown"><b>Password</b></label>
							<input class="w3-input w3-border w3-sand" name="password" type="password" ng-model="password">
						</p>
						<p>
							<button class="w3-btn w3-brown">Log In</button>
						</p>
					</form>
				</div>   
			</div>
			<div class="w3-col s3 w3-container"> </div>
		</div>