		<div class="w3-container w3-center">
			<h1>Thank you for shopping!!!</h1>
			<button class="w3-btn w3-blue" style="float:left" ><a href='#!/menu'>Go back to MENU</a></button>
			<button style="float:right" class="w3-btn w3-green" ng-click="logout()">Log Out</button>
		</div>
		
		
		<br>
				<h3><strong>Expected Time:</strong>30 min</h1>
					<form class="w3-container" style="width:60%" method="GET">
						<p>      
							<label class="w3-text-brown"><h1>Feedback</h1></label>
							<textarea class="w3-input w3-border w3-sand" style="height:200px" name="feedback" type="text" ng-model=feedback></textarea>
						</p>
						<p>      
						<p>
							<button class="w3-button w3-green" ng-click="sendfeed()">Submit feedback</button>
						</p>
					</form>
		<br><br>
		